// /* Calendar.module.scss */

.dayContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
}

.eventIndicator,
.streamEventIndicator {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  position: absolute;
  bottom: 0.75em;
  left: 50%;
  transform: translateX(-50%);
}

.eventIndicator {
  background-color: rgb(var(--accent));
}

.streamEventIndicator {
  background-color: rgb(var(--accent-2));
}

.calendarLarge {
  width: 100%;
}

.customCalendar {
  width: 100%;
  
  .responsiveCalendar {
    width: 100% !important;
    font-size: calc(8px + 0.5vw) !important;
  }

  :global(.react-datepicker) {
    width: 100% !important;
  }

  :global(.react-datepicker__month-container) {
    float: none !important;
    width: 100% !important;
  }

  :global(.react-datepicker__month) {
    margin: 0 !important;
    padding: 0 !important;
  }

  :global(.react-datepicker__day-names),
  :global(.react-datepicker__week) {
    display: flex !important;
    justify-content: space-around !important;
  }

  :global(.react-datepicker__day-name),
  :global(.react-datepicker__day) {
    flex: 1 !important;
    margin: 0 !important;
    max-width: calc(100% / 7) !important;
    min-height: 3.2em !important;
    line-height: 3.2em !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    position: relative;
    height: 2.4rem !important;
  }
}
