@tailwind base;
@tailwind components;
@tailwind utilities;

.radial-gradient {
  background: radial-gradient(#ffc8d2, #aafbdc);
}

.linear-gradient {
  background: linear-gradient(to left, #aafbdc81, #ffc8d288);
}

.linear-gradient2 {
  background: linear-gradient(to right, #aafbdc81, #ffc8d288);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
