.modalMenu {
  // modal specific styles go here

  .fc {
    .fc-button-primary:disabled {
      background-color: #ffc8d2;
      border: none;
    }

    .fc-button-primary {
      background-color: #ffd6e4;
      border: none;
    }

    &-direction-ltr {
      .fc-button-group {
        > .fc-button:not(:last-child),
        > .fc-button:not(:first-child) {
          background-color: #aafbdc;
          border: none;
        }
      }
    }

    .fc-toolbar-title {
      color: rgb(161 161 170);
      --tw-text-opacity: 1;
    }
  }
}
